*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: 80px;
}

.container{
    width: 100%;
    height: 6000px;
    border-bottom: 1px solid black;
}

.debug{
    border: 1px solid black;
}

.display-inline{
    display: inline-block;
}


.prova-gratuita{
    height: 682px;
    background-color: hsl(207deg 52% 81%);
}

.logo{
    float: left;
    width: 150px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 20px;
}

.nav-destra{
    float: right;
}


header nav{
    display: inline-block;
    margin-top: 27px;
}

header li{
    list-style-type: none;
    display: inline-block;
    margin: -30px 0px;
    padding: 30px 0px;
}

header a{
    text-decoration: none;
    color: black;
    margin: auto 20px;
    
}

.float-right{
   float: right;
}

.float-left{
    float: left;
}

.top{
    position: relative;
    top: -126px;
    right: 30px;
}


.btn{
    color: white;
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 8px 31px;
    font-size: 14px;
    background-color: hsl(217deg 100% 50%);
    text-decoration: none;
}

.btn:hover {
    text-decoration: underline;
  }

header li:hover {
    border-bottom: 1px solid black;
}


.titolo-header{
    padding-top: 80px;
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    font-size: 70px;
    text-align: left;
}

.prova-gratuita p{
    margin-bottom: 36px;
    display: inline-block;
    width: 560px;
    padding-left: 150px;
    padding-top: 50px;
    text-align: left;
}

.bottone{
    margin-left: 150px;
}

.annulla p{
    font-size: 13px;
    margin-top: -34px;
}


.fas{
    width: 30px;
    padding-left: 150px;
    display: block;
    font-size: 38px
}

.immagini{
    float: right;
    top: 400px;
    right: 184px;
    width: 738px;
    height: 420px;
}

.position{
    position: absolute;
}


.immagini img{
    width: 760px;
}

#p-bottone{
    width: 44%;
    display: inline-block;
}

.section-1{
    position: relative;
    top: 180px;
    height: 1300px;
    margin: 0px 200px;
}

.piano{
    margin: 0px 30px;
}

.piano li{
    display: inline-block;
    margin: 40px 10px;
    padding-left: 12px;
    
}

.titolo{
    font-size: 38px;
    position: relative;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 20px;
    left: 22px;
}

.titolo h1{
    font-size: 38px;
    margin-left: 242px;
    margin-bottom: 40px;
}

.tariffe{
    float: left;
    width: 278px;
    height: 820px;
    margin: 0px 47px;
    border: 1px solid hsl(240deg 4% 90%);
}

.info{
    padding: 26px 22px;
}

.info li{
    font-size: 82%;
    margin: 20px 0px;
    list-style-type: none;
}

.info h3{
    margin-top: 30px;
    font-size: 16px;
}

.soggetto{
    height: auto;
    width: 100%;
    border-bottom: 1px solid hsl(240deg 4% 90%);
}

.soggetto p{
    text-align: center;
    padding: 8px 32px;
}

.tariffe h2,h4{
    margin-bottom: 12px;
}

.tariffe h5{
    color:#85929c;
    margin-bottom: 40px;
    font-size: 12px;
}

.acquista-ora{
    margin-top: 30px;
    font-size: 14px;
}

.acquista-ora a{
    color: hsl(217deg 100% 50%);
}

.line{
    margin-top: 28px;
    width: 60px;
    border-bottom: 1px solid lightgray;
}

.team{
    display: inline-block;
    height: 200px;
    width: 1024px;
    margin: 50px 47px;
    border: 1px solid hsl(240deg 4% 90%);
}

.team div{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.team p{
    padding: 10px;
}

.team h4{
    margin-top: 20px;
    margin-bottom: 20px;
}

.team h5{
    color: hsl(0deg 0% 32%);
}

.margin-left{
    margin-left: 30px;
}

.margin-top{
    margin-top: 20px;
}

.section-2{
    position: relative;
    top: 250px;
    height: 471px;
    
}

.section-2 img{
    width: 550px;
    margin-left: 268px;
}

.section-2 h1{
    font-size: 22px;
    text-align: left;
    margin-bottom: 20px;
}

.partner{
    width: 380px;
    height: 260px;
    margin: 36px 265px 0px 0px
}

.partner p{
    line-height: 28px;
    margin-bottom: 30px;
}


.btn-bianco{
    color: black;
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 8px 31px;
    font-size: 14px;
    background-color: white;
    text-decoration: none;
    border: 2px solid black;
}

.section-3{
    display: inline-block;
    position: relative;
    top: 360px;
    width: 100%;
    height: 1225px;
}

.operazioni{
    float: left;
    height: 500px;
    width: 300px;
    margin: 0px 19px 50px 19px;
}


.operazioni img{
    width: 100%;
}

.operazioni p{
    text-align: left;
    margin-top: 20px;
}

.container-2{
    margin: 0px 250px;
    height: 94%;
}

.section-4{
    display: inline-block;
    position: relative;
    top: 420px;
    width: 100%;
    height: 600px;
}

.titolo-2{
    font-size: 24px;
    position: relative;
    width: 34%;
    margin-top: 16px;
    left: 260px;
}

.titolo-2 p{
    font-size: 14px;
    margin-top: 20px;
}

#line-blu{
    color: hsl(217deg 100% 50%);
}

.section-5{
    display: inline-block;
    position: relative;
    background-color: hsl(207deg 52% 81%);
    top: 420px;
    width: 100%;
    height: 320px;
}

.margin{
   color: hsl(336deg 85% 21%);
    margin-top: 7%;
}

.section-5 p{
    position: relative;
    float: right;
    top: -93px;
    right: 256px;
}

.btn-prova{
    color: black;
    padding: 8px 50px;
    font-size: 14px;
    background-color: white;
    text-decoration: none;
}





    
