*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: 80px;
}

.container{
    width: 100%;
    height: 5100px;
    border-bottom: 1px solid black;
}

.debug{
    border: 1px solid black;
}

.display-inline{
    display: inline-block;
}


.prova-gratuita{
    height: 682px;
    background-color: hsl(207deg 52% 81%);
}

.logo{
    float: left;
    width: 150px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 20px;
}

.nav-destra{
    float: right;
}


header nav{
    display: inline-block;
    margin-top: 27px;
}

header li{
    list-style-type: none;
    display: inline-block;
    margin: -30px 0px;
    padding: 30px 0px;
}

header a{
    text-decoration: none;
    color: black;
    margin: auto 20px;
    
}

.float-right{
   float: right;
}

.float-left{
    float: left;
}


.btn{
    color: white;
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 8px 18px;
    font-size: 14px;
    background-color: hsl(217deg 100% 50%);
    text-decoration: none;
}

.btn:hover {
    text-decoration: underline;
  }

header li:hover {
    border-bottom: 1px solid black;
}


.titolo-header{
    padding-top: 80px;
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    font-size: 70px;
    text-align: left;
}

.prova-gratuita p{
    margin-bottom: 36px;
    display: inline-block;
    width: 560px;
    padding-left: 150px;
    padding-top: 50px;
    text-align: left;
}

.bottone{
    margin-left: 150px;
}

.annulla p{
    font-size: 13px;
    margin-top: -34px;
}


.fas{
    width: 30px;
    padding-left: 150px;
    display: block;
    font-size: 38px
}

.immagini{
    float: right;
    top: 400px;
    right: 184px;
    width: 738px;
    height: 420px;
}

.position{
    position: absolute;
}


.immagini img{
    width: 760px;
}

#p-bottone{
    width: 44%;
    display: inline-block;
}

.section-1{
    position: relative;
    top: 180px;
    height: 1000px;
    margin: 0px 200px;
}

.piano{
    margin: 0px 30px;
}

.piano li{
    display: inline-block;
    margin: 40px 10px;
}

.piano h1{
    font-size: 38px;
}

.tariffe{
    float: left;
    width: 278px;
    height: 700px;
    margin: 0px 47px;
}

.info{
    padding: 26px 22px;
}

.soggetto{
    height: auto;
    width: 100%;
}

.soggetto p{
    text-align: center;
    padding: 8px 32px;
}

.tariffe h2,h4{
    margin-bottom: 5px;
}

.tariffe h5{
    color:#85929c;
    margin-bottom: 30px;
    font-size: 12px;
}