*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: 80px;
}

.container{
    width: 100%;
    height: 5000px;
    border: 1px solid black;
}

.prova-gratuita{
    height: 650px;
    background-color: hsl(207deg 52% 81%);
}

.logo{
    float: left;
    width: 150px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 20px;
}

.nav-destra{
    float: right;
}


header nav{
    display: inline-block;
    margin-top: 27px;
}

header li{
    list-style-type: none;
    display: inline-block;
    margin-bottom: 28px;
}

header a{
    text-decoration: none;
    color: black;
    margin: auto 20px;
    
}

.btn{
    float: right;
    color: white;
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 8px 16px;
    font-size: 12px;
    background-color: hsl(217deg 100% 50%);
}